body {
	/*background: url(/img/bg-body.jpg) repeat left top;*/
	font-family: Arial, Helvetica, sans-serif;
	min-width: 960px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.carousel {
	margin-top: -20px;
}

#closeMenu {
  	display: inline-block;
}

#menu {
	display: inline-block;
  	background-color: #888888;
  	left: -301px;
  	top: 0;
  	width: 300px;
  	height: 100%;
  	position: fixed;
  	z-index: 80;
}

#openMenu {
	position: fixed;
	color: White;
	font-size: 24px;
	padding-left: 10px;
	padding-top: 5px;
	text-shadow: -3px 1 3px #555555;
	z-index: 100;
	top: -40px;
}
