body {
	/*background: url(/img/bg-body.jpg) repeat left top;*/
	font-family: Arial, Helvetica, sans-serif;
	min-width: 960px;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

.page-header {
    text-align: center;
}

.carousel {
	margin-top: -20px;
}

#closeMenu {
  	display: inline-block;
}

#menu {
	display: inline-block;
  	background-color: #888888;
  	left: -301px;
  	top: 0;
  	width: 300px;
  	height: 100%;
  	position: fixed;
  	z-index: 80;
}

#openMenu {
	position: fixed;
	color: White;
	font-size: 24px;
	padding-left: 10px;
	padding-top: 5px;
	text-shadow: -3px 1 3px #555555;
	z-index: 100;
	top: -40px;
}

/* Styling for comments box on contact form */
#comments {
    width: 100%;
}

/* Styling for character counter on contact form */
/* Styling for normal character counter */
.counterNormal {
    color: limegreen;
    text-align: right;
}

/* Styling for when the character count is exceeded */
.counterExceeded {
    color: red;
}

/* Google Maps styling */
#map {
        height: 400px;
		width: 500px;
		margin-left: auto;
		margin-right: auto;
		border-style: solid;
		border-width: 3px;
		border-color: black;
}