/* HTML Element Modification */

body {
	position: absolute;
	background: url(/img/bg-body.jpg) repeat left top;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 960px;
	margin: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

html {
	width: 100%;
	height: 100%;
}


/* Classes */

.noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container {
	width: 960px;
	height: 470px;
	margin: 0 auto;
}

.clearfix {
	overflow: auto;
}

.clearfix:after {
	clear:both;
	content:"";
	display:block;
	height:1%;
	line-height:0;
	visibility:hidden;
}

.content {
	background: url(/img/bg-content.png) repeat-x center top;
	margin: 0 0 24px;
	padding: 56px 0 0;
}
.contents h1, #featured h3 {
	color: #fbfdfd;
	font: italic 34px Georgia, "Times New Roman", Times, serif;
	font-style: italic;
	margin: 0 0 18px;
}
.content p {
	color: #e8eff4;
	font-size: 14px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 30px;
	text-align: justify;
}
.content p a {
	color: #e8eff4;
}
.content p a:hover {
	color: #0aa3fa;
}
.content p b {
	display: block;
}

.content .body {
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
}

/* IDs */

#header {
	height: 120px;
	width: 100%;
	background-color: #000000;
	background: #171a1a url(/img/bg-content.jpg) repeat-x left top;
	display: block;
	position: static;
}

#menu {
	display: inline-block;
  	background-color: #888888;
  	left: -301px;
  	top: 0;
  	width: 300px;
  	height: 100%;
  	position: fixed;
  	z-index: 80;
}

#openMenu {
	position: fixed;
	color: White;
	font-size: 24px;
	padding-left: 10px;
	padding-top: 5px;
	text-shadow: -3px 1 3px #555555;
	z-index: 100;
	top: -40px;
}

#closeMenu {
  	display: inline-block;
}

#footer {
	background-color: #e8eff4;
	border-top: 1px solid #fdfcfc;
}

#footer .body {
	background: #072438 url(/img/bg-footer.jpg) no-repeat center top;
	min-height: 136px;
	padding: 36px 0;
}

#footer h4 {
	color: #fff;
	font: normal 14px Georgia, "Times New Roman", Times, serif;
	margin: 0 0 12px;
}

#footer p {
	color: #7890a1;
	font-size: 12px;
	line-height: 24px;
	margin: 0;
	padding: 0 0 6px;
}

#footer .footnote {
	float: right;
	display: inline-block;
	color: #03436f;
	width: 460px;
	margin-right: 10px;
}

#link-container {
	float: left;
	width: 230px;
}

#link {
	float: left;
	width: 460px;
	margin: 0 10px;
}

#link ul {
	list-style: none;
	width: 178px;
	margin: 0;
	padding: 0;
}

#link ul li {
	background: url(/img/border-footer.png) repeat-x left bottom;
	margin: 0 0 6px;
	padding: 3px 0 8px;
}

#link ul li:first-child {
	padding-top: 0;
}

#link ul li a {
	color: #7890a1;
	font-size: 12px;
	line-height: 24px;
	text-decoration: none;
}

#link ul li a:hover {
	color: #e8eff4;
}

.highlight {
	font-family: Georgia, "Times New Roman", Times, serif;
	background: #171a1a url(/img/infobox-heading.jpg) repeat-x left top;
	min-height: 82px;
	border-bottom: 1px solid #000;
}

.highlight h2 {
	color: #484b4b;
	font-size: 34px;
	line-height: 82px;
	width: 940px;
	margin: 0 auto;
	padding: 0 10px;
	text-shadow: -3px 0 3px #121413;
}

.highlight h2 i {
	font-weight: normal;
}